<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @cocktail.photo, height: 300, width: 400, crop: :fill %>')">
  <%= @cocktail.name %>
</div>


  <div class="d-flex justify-content-between">

    <div class="card" style="width: 18rem;">
      <div class="card-header">Ingredients</div>
      <ul class="list-group list-group-flush">
       <% @cocktail.doses.each do |dose| %>

       <li class="list-group-item"> <%= dose.ingredient.name %> <%= dose.description %> </li>

       <% end %>

       <li class="list-group-item"> <%= link_to "Add Ingredient", new_cocktail_dose_path(@cocktail) %> </li>

     </ul>


   </div>


<div class="btn-group" role="group" aria-label="Basic example">
  <%= button_to "EDIT Cocktail", edit_cocktail_path(@cocktail), type: "button", class: "btn btn-secondary"%>
  <%= button_to "Delete Cocktail", cocktail_path(@cocktail), method: :delete, type: "button", class: "btn btn-secondary"%>
  <%= button_to "See all Cocktails", root_path, method: :get, type: "button", class: "btn btn-secondary"%>
</div>
